<a href="https://colab.research.google.com/github/ducline/edit-data_processing/blob/main/spark/challenges/challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHALLENGE 1
##  Implement INGESTION process
- Set up path in the "lake"
  - !mkdir -p /content/lake/bronze

- Read data from API https://api.carrismetropolitana.pt/
  - Endpoints:
    - vehicles
    - lines
    - municipalities
  - Use StructFields to enforce schema

- Transformations
  - vehicles
    - create "date" extracted from "timestamp" column (format: hh24miss)

- Write data as PARQUET into the BRONZE layer (/content/lake/bronze)
  - Partition "vehicles" by "date" column
  - Paths:
    - vehicles - path: /content/lake/bronze/vehicles
    - lines - path: /content/lake/bronze/lines
    - municipalities - path: /content/lake/bronze/municipalities
  - Make sure there is only 1 single parquet created
  - Use overwrite as write mode

1# Setting up PySpark

In [9]:
!ls -l lake/

total 8
drwxr-xr-x 5 root root 4096 Nov 22 20:31 bronze
drwxr-xr-x 3 root root 4096 Nov 22 20:31 silver

In [ ]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [12]:
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import requests

class ETLFlow:
    def __init__(self, spark: SparkSession) -> None:
        self.spark = spark

    def extract_from_file(self, format: str, path: str, **kwargs) -> DataFrame:
        df = self.spark.read.format(format).load(path)
        return df

    def extract_from_api(self, url: str, schema: StructType = None):
      response = requests.get(url)
      rdd = spark.sparkContext.parallelize(response.json())
      if schema:
        df = spark.read.schema(schema).json(rdd)
      else:
        df = spark.read.json(rdd)
      return df

    def load(self, df: DataFrame, format: str, path: str, partition_column: str, **kwargs) -> None:
        if partition_column:
          df.write.mode("overwrite").partitionBy().format(format).save(path)
        else:
          df.write.mode("overwrite").format(format).save(path)

class ETLTask(ETLFlow):

    def __init__(self, spark: SparkSession) -> None:
        self.spark = spark

    def ingestion_vehicles(self):
      vehicle_schema = StructType([StructField('bearing', IntegerType(), True),
                                  StructField('block_id', StringType(), True),
                                  StructField('current_status', StringType(), True),
                                  StructField('id', StringType(), True),
                                  StructField('lat', FloatType(), True),
                                  StructField('line_id', StringType(), True),
                                  StructField('lon', FloatType(), True),
                                  StructField('pattern_id', StringType(), True),
                                  StructField('route_id', StringType(), True),
                                  StructField('schedule_relationship', StringType(), True),
                                  StructField('shift_id', StringType(), True),
                                  StructField('speed', FloatType(), True),
                                  StructField('stop_id', StringType(), True),
                                  StructField('timestamp', TimestampType(), True),
                                  StructField('trip_id', StringType(), True)])

      df = self.extract_from_api(url="https://api.carrismetropolitana.pt/vehicles", schema=vehicle_schema)
      self.load(df=df, format="parquet", path="/content/lake/bronze/vehicles")

    def cleansing_vehicles(self):
      df = self.extract_from_file(format="parquet", path="/content/lake/bronze/vehicles")

      # transformations
      df = df.withColumn("date", date_format(col("timestamp"), "yyyy-MM-dd"))
      df = df.drop_duplicates()

      self.load(df=df, format="parquet", path="/content/lake/silver/vehicles", partition_column="date")

    def enrich(self):
        pass


if __name__ == '__main__':

    # init spark
    from pyspark.sql import SparkSession
    spark = SparkSession.builder.master('local').appName('ETL Program').getOrCreate()

    print("Starting ETL program")
    etl = ETLTask(spark)

    # run tasks
    print("Running Task - Ingestion Vehicles")
    etl.ingestion_vehicles()

    print("Running Task - Cleansing Vehicles")
    etl.cleansing_vehicles()

    #etl.enrich()

    print("ETL program completed")

Starting ETL program
Ingesting Vehicles...
Ingesting Lines...
Ingesting Municipalities...
ETL program completed

In [13]:
# Check Vehicles Data in Bronze Layer
spark.read.parquet("/content/lake/bronze/vehicles").show()

# Check Lines Data
spark.read.parquet("/content/lake/bronze/lines").show()

# Check Municipalities Data
spark.read.parquet("/content/lake/bronze/municipalities").show()

+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+----------+
|bearing|            block_id|current_status|      id|      lat|line_id|      lon|pattern_id|route_id|schedule_relationship|    shift_id|    speed|stop_id|          timestamp|             trip_id|      date|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+----------+
|    294|20241122-64010066...| IN_TRANSIT_TO|44|12525|38.643368|   4604|-9.010638|  4604_0_2|  4604_0|            SCHEDULED|121770234560|     10.0| 090038|2024-11-22 20:36:17|4604_0_2|2200|202...|2024-11-22|
|    270|20241122-64010199...|   INCOMING_AT|44|12730|38.488678|   4425|-8.808887|  4425_0_1|  4425_0|            SCHEDULED|112510234560|     10.0| 160493|2024-11-22 20:36:30|4425_0_1|2200|200...|2024-11-22|
|    326|20241122-64010084...| IN_TRANSIT_TO|44|12603| 38.66523|   4512| -8.92642|  4512_0_2|  4512_0|            SCHEDULED|121610234560|     10.0| 100365|2024-11-22 20:36:29|4512_0_2|2200|193...|2024-11-22|
|     15|20241122-64010300...| IN_TRANSIT_TO|44|12734|38.571568|   4562|-8.876755|  4562_0_1|  4562_0|            SCHEDULED|111600234560|7.7777777| 130009|2024-11-22 20:36:17|4562_0_1|2200|201...|2024-11-22|
|     58|20241122-64010168...|   INCOMING_AT|44|12569|38.525097|   4730|-8.991966|  4730_0_1|  4730_0|            SCHEDULED|113150234560|19.722221| 160560|2024-11-22 20:36:29|4730_0_1|2200|183...|2024-11-22|
|    306|20241122-64010061...|   INCOMING_AT|44|12509|38.575645|   4612|-9.008621|  4612_0_2|  4612_0|            SCHEDULED|121820234560|13.055555| 130696|2024-11-22 20:36:30|4612_0_2|2200|202...|2024-11-22|
|    345|20241122-64010149...| IN_TRANSIT_TO|44|12673| 38.67888|   4725|-9.174577|  4725_0_2|  4725_0|            SCHEDULED|113340234560|18.055555| 060021|2024-11-22 20:36:17|4725_0_2|2200|200...|2024-11-22|
|    170|20241122-64010218...|   INCOMING_AT|44|12699|  38.6482|   4701|-8.991754|  4701_0_1|  4701_0|            SCHEDULED|123560234560|     10.0| 090097|2024-11-22 20:36:29|4701_0_1|2200|200...|2024-11-22|
|    113|20241122-64010098...|    STOPPED_AT|44|12506|38.750732|   4600|-8.941856|  4600_0_2|  4600_0|            SCHEDULED|121480234560|      0.0| 010137|2024-11-22 20:36:23|4600_0_2|2200|190...|2024-11-22|
|    124|20241122-64010421...|   INCOMING_AT|44|12097| 38.59928|   4611|-9.012408|  4611_0_1|  4611_0|            SCHEDULED|121430234560|4.7222223| 130680|2024-11-22 20:36:28|4611_0_1|2200|203...|2024-11-22|
|    313|20241122-64010569...| IN_TRANSIT_TO|44|12662|38.753357|   4706|-9.031062|  4706_0_1|  4706_0|            SCHEDULED|123530234560|26.944445| 060005|2024-11-22 20:36:17|4706_0_1|2200|194...|2024-11-22|
|    340|20241122-64010532...| IN_TRANSIT_TO|44|12501|38.712414|   4501|-8.991417|  4501_0_2|  4501_0|            SCHEDULED|121960234560| 6.111111| 100286|2024-11-22 20:36:16|4501_0_2|2200|203...|2024-11-22|
|    266|20241122-64010067...|   INCOMING_AT|44|12551| 38.65296|   4600|-9.020465|  4600_0_1|  4600_0|            SCHEDULED|121760234560|3.6111112| 090012|2024-11-22 20:36:26|4600_0_1|2200|193...|2024-11-22|
|     77|           1_1462-11| IN_TRANSIT_TO| 41|1142|38.723106|   1726|-9.166437|  1726_1_2|  1726_1|            SCHEDULED|        1484| 8.055555| 060027|2024-11-22 20:35:35|1726_1_2_1930_195...|2024-11-22|
|    285|20241122-64010197...| IN_TRANSIT_TO|44|12552|38.525013|   4436|-8.884215|  4436_0_2|  4436_0|            SCHEDULED|112530234560|6.9444447| 160066|2024-11-22 20:36:20|4436_0_2|2200|203...|2024-11-22|
|    356|20241122-64010060...| IN_TRANSIT_TO|44|12521| 38.65679|   4600|-9.055373|  4600_0_2|  4600_0|            SCHEDULED|121830234560| 9.444445| 040018|2024-11-22 20:36:18|4600_0_2|2200|203...|2024-11-22|
|      5|           1_1667-11|    STOPPED_AT| 41|1802|38.755856|   1229| -9.28674|  1229_0_3|  1229_0|            SCHEDULED|        1686|      0.0| 170911|2024-11-22 20:36:26|1229_0_3_2000_202...|2024-11-22|
|    313|20241122-64010101...| IN_TRANSIT_TO|44|12515|38.756176|   4514|-8.618892|  4514_0_2|  4514_0|            SCHEDULED|121450234560|10.555555| 100213|2024-11-22 20:36:18|4514_0_2|2200|191...|2024-11-22|
|     90|20241122-64010155...| IN_TRANSIT_TO|44|12688| 38.58408|   4725|-8.942727|  4725_0_1|  4725_0|            SCHEDULED|113270234560|28.055555| 160027|2024-11-22 20:36:18|4725_0_1|2200|193...|2024-11-22|
|    186|20241122-64010001...| IN_TRANSIT_TO|44|12697| 38.76803|   4706|-9.100365|  4706_0_2|  4706_0|            SCHEDULED|123470234560|      0.0| 060002|2024-11-22 20:36:19|4706_0_2|2200|201...|2024-11-22|
+-------+--------------------+--------------+--------+---------+-------+---------+----------+--------+---------------------+------------+---------+-------+-------------------+--------------------+----------+
only showing top 20 rows

+----+----+-----+
|  id|name|route|
+----+----+-----+
|1001|NULL| NULL|
|1002|NULL| NULL|
|1003|NULL| NULL|
|1004|NULL| NULL|
|1005|NULL| NULL|
|1006|NULL| NULL|
|NULL|NULL| NULL|
|1009|NULL| NULL|
|1010|NULL| NULL|
|1011|NULL| NULL|
|1012|NULL| NULL|
|1013|NULL| NULL|
|1014|NULL| NULL|
|1015|NULL| NULL|
|1101|NULL| NULL|
|1103|NULL| NULL|
|1105|NULL| NULL|
|1106|NULL| NULL|
|1107|NULL| NULL|
|1109|NULL| NULL|
+----+----+-----+
only showing top 20 rows

+----+--------------------+----------+
|  id|                name|population|
+----+--------------------+----------+
|0712|        Vendas Novas|      NULL|
|1101|            Alenquer|      NULL|
|1102|   Arruda dos Vinhos|      NULL|
|1105|             Cascais|      NULL|
|1106|              Lisboa|      NULL|
|1107|              Loures|      NULL|
|1109|               Mafra|      NULL|
|1110|              Oeiras|      NULL|
|1111|              Sintra|      NULL|
|1112|Sobral de Monte A...|      NULL|
|1113|       Torres Vedras|      NULL|
|1114| Vila Franca de Xira|      NULL|
|1115|             Amadora|      NULL|
|1116|            Odivelas|      NULL|
|1502|           Alcochete|      NULL|
|1503|              Almada|      NULL|
|1504|            Barreiro|      NULL|
|1506|               Moita|      NULL|
|1507|             Montijo|      NULL|
|1508|             Palmela|      NULL|
+----+--------------------+----------+
only showing top 20 rows